#hum{
    width: 50%;
    height: 250px;
    background-color: #f73030;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#dois{
    width: 50%;
    height: 250px;
    background-color: #f7e030;
    margin: auto;
    margin-top: 50px;
}

#p_hum{
    padding: 50px 100px;
}

#nave{
    padding: 50px 20px;
}

.menu{
    display: flex;
    justify-content: center;
    gap: 25px;
}

.menu li {
    list-style: none;
}

.menu a {
    font-size: 16px;
    color: #000;
    display: block;
    text-decoration: none;
}

.menu a:hover{
    text-decoration: underline;
    font-size: 20px;
}